.Favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.Favourites__list {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.Favourites__row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.Favourites__remove {
    width: 150px;
    cursor: pointer;
    text-decoration: underline;
}